include README.rst
include HISTORY.rst
include LICENSE.txt
recursive-include docs *
recursive-include emencia/django/countries/fixtures *
recursive-include emencia/django/countries/locale *
recursive-include emencia/django/countries/templates *.txt *.html