include README.rst
recursive-include docs *
recursive-include emencia/django/countries/fixtures *
recursive-include emencia/django/countries/locale *
recursive-include emencia/django/countries/templates *.txt *.html